/*Content First - Mobile First*/
    /*General Rules*/
        *{
            box-sizing: border-box;
            font-family: 'segoe ui', calibri, sans-serif;
        }
        body,
        h1,
        h2,
        h3,
        .menu{
            margin: 0;
        }
    /*Colaborators Table*/
        .colabs { 
            margin: 1rem auto;
            border-collapse: collapse;
        }
        .colabs caption,
        .colabs th,
        .colabs td{ 
            padding: .5rem 
        }
        .colabs caption,
        .colabs thead{
            color: #eee;
        }
        .colabs caption{ 
            border-radius: .5rem .5rem 0 0;
            background: linear-gradient(#36c, #448);
        }
        .colabs thead{ background-color: #448 }
        .colabs tbody tr:nth-child(odd){ background-color: #dde }
        .colabs tbody tr:nth-child(even){ background-color: #ccd }
    /*Navigation*/
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background: #448 linear-gradient(#36c, #448);
        }
        nav a{
            display: block;
            padding:.5rem;
            color:#eee;
            text-decoration: none;
        }
        .logo{
            padding: .25rem;
            font-size: 1.2rem;
            font-style: italic;
            font-weight: bold;
        }
        .button{
            margin: .5rem;
            border-radius: .25rem;
            border:.1rem solid #eee;
            color:#eee;
            background-color: transparent;
            font-size: 1.2rem;
        }
        button:hover{
            color:#448;
            background-color: #eee;
        }
        .menu{
            width:100%;
            padding: 0;
            list-style: none;
            max-height: 0;
            overflow: hidden;
            transition: all .5s ease;
        }
        .menu.active{
            max-height: 600px;
        }
        .menu a:hover{
            background-color: #3338;
        }
    /*Header*/
        header{
            display: grid;
            height: 100vh;
            max-height: 600px;
            justify-content: center;
            align-content: center;
            text-align: center;
            font-size: calc(2vw + .8rem);
            color:#eee;
            background-color: #333;
        }
        header h1,
        header p{
            margin: 0;
            text-shadow: 0 0 .5rem #eee;
        }
    /*Gallery Images*/
        .img{
            margin: 5px;
            border: 1px solid grey;
            float:left;
            width: 180px;
        }
        .img:hover{
                border: 2px solid black;
        }
        .img img{
                width: 100%;
                height: auto;
        }
        .img p{
                padding: 15px;
                text-align: center;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    /*Main Content*/
    main{
        margin: 1rem auto;
        padding:1rem;
    }
    section{
        margin: 1rem 0;
        border-radius: .25rem;
        padding: 1rem;
        box-shadow: 0 0 .5rem #333;
    }
    section h3{
        color:#333;
        border-bottom: .1rem solid #999;
    }
    .commands{
        margin: .5rem;
        margin-left: 1.5rem;
        border-left: .25rem solid #448;
        padding: 1rem;
        line-height: 1.5rem;
        background-color: #eee;
        list-style: none;
    }
/*Small Devices - Smartphones*/
    @media screen and (min-width: 576px){
        main{
            max-width: 540px;
        }
    /*Main Content*/
        main{
            max-width: 540px;
        }
    }
/*Medium Devices - Tablets*/
    @media screen and (min-width: 768px){
    /*Navigation*/
        nav .button{ display: none;}
        .menu{
            display: flex;
            width: auto;
            max-height: 600px;
        }
    /*Main Content*/
        main{
            max-width: 720px;
        }
    }
/*Large Devices - Desktop*/
    @media screen and (min-width: 1200px){
    /*Main Content*/
        main{
            max-width: 960px;
        }
    }
/*ExtraLarge Devices - HD Desktop*/
    @media screen and (min-width: 1200px){
    /*Navigation*/
        nav { justify-content: space-around }
    }
